.custom-toggle-button {
    -fx-font-size: 26;
    -fx-background-color: white;
    -fx-border-width: 4px;
    -fx-text-fill: black;
    -fx-font-family: 'Comic Sans MS';
    -fx-text-alignment: center;
    -fx-border-color: black;
}

/* Estilo cuando el ToggleButton está seleccionado */
.custom-toggle-button:selected {
    -fx-background-color: deepskyblue;
    -fx-border-width: 4px;
}

/* Estilo cuando el ToggleButton no está seleccionado (puede ser necesario para algunos casos) */
.custom-toggle-button:selected:pressed {
    -fx-background-color: lightblue;
}

/* Estilo cuando el ToggleButton está en estado hover */
.custom-toggle-button:hover {
    -fx-background-color: lightblue;
}

/* Estilo cuando el ToggleButton está seleccionado y en estado hover */
.custom-toggle-button:selected:hover {
    -fx-background-color: lightblue;
}

.custom-button {
    -fx-text-fill: black;
    -fx-font-family: 'Comic Sans MS';
    -fx-text-alignment: center;
    -fx-font-size: 32;
    -fx-background-color: white;
    -fx-border-width: 4px;
    -fx-border-color: black;
}
.custom-button:hover {
    -fx-background-color: deepskyblue;
}
.custom-button:pressed {
    -fx-background-color: gray;
}

.list-view .scroll-bar:horizontal {
    -fx-opacity: 0; /* Oculta la barra de desplazamiento horizontal */
    -fx-max-height: 0;
}

.list-view .scroll-bar:vertical {
    -fx-background-color: white;
    -fx-border-width: 4px;
    -fx-border-color: black;
}
/*
.list-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-max-height: 0;
}

.list-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-max-height: 0;
}
*/

.GP-toggle-button {
    -fx-font-size: 26;
    -fx-background-color: white;
    -fx-border-width: 4px;
    -fx-text-fill: black;
    -fx-font-family: 'Comic Sans MS';
    -fx-text-alignment: center;
    -fx-border-color: black;
}


.GP-toggle-button.selected-color1 {
    -fx-background-color: violet;  /* Primer color */
    -fx-text-fill: white;
}

.GP-toggle-button.selected-color2 {
    -fx-background-color: lightgreen;  /* Segundo color */
    -fx-text-fill: white;
}